pdv-vendas-product-sync.json
{
  "name": "PDV Vendas - Sincronização de Produtos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdv-vendas/produtos",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Processar dados do produto\nconst data = $input.json;\n\n// Verificar se é um único produto ou uma lista\nconst produtos = Array.isArray(data) ? data : [data];\nconst processedProducts = [];\n\nfor (const produto of produtos) {\n  const processedProduct = {\n    name: produto.nome,\n    type: \"simple\",\n    regular_price: produto.preco.toString(),\n    description: produto.descricao || \"\",\n    short_description: produto.descricao_curta || \"\",\n    categories: produto.categorias ? produto.categorias.map(cat => ({id: cat.id})) : [],\n    images: [],\n    sku: produto.codigo || \"\",\n    stock_quantity: produto.estoque || 0,\n    manage_stock: true,\n    status: \"publish\",\n    meta_data: [\n      {\n        key: \"_pdv_vendas_product\",\n        value: \"true\"\n      },\n      {\n        key: \"_pdv_vendas_id\",\n        value: produto.id.toString()\n      }\n    ]\n  };\n  \n  // Processar imagens\n  if (produto.imagens && Array.isArray(produto.imagens)) {\n    for (const imagem of produto.imagens) {\n      processedProduct.images.push({\n        src: imagem.url,\n        name: imagem.nome || `Produto ${produto.nome}`,\n        alt: imagem.alt || `Produto ${produto.nome}`\n      });\n    }\n  }\n  \n  processedProducts.push(processedProduct);\n}\n\nreturn { produtos: processedProducts };"
      },
      "name": "Process Product Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Processar imagens\nconst produtos = $input.json.produtos;\nconst processedProducts = [];\n\nfor (const produto of produtos) {\n  // Verificar se as imagens são URLs válidas\n  if (produto.images && produto.images.length > 0) {\n    const validImages = [];\n    \n    for (const image of produto.images) {\n      // Verificar se a URL da imagem é válida\n      if (image.src && image.src.startsWith('http')) {\n        validImages.push(image);\n      } else {\n        // Adicionar uma imagem padrão se a URL não for válida\n        validImages.push({\n          src: \"https://achadinhoshopp.com.br/loja/wp-content/uploads/woocommerce-placeholder.png\",\n          name: image.name,\n          alt: image.alt\n        });\n      }\n    }\n    \n    produto.images = validImages;\n  }\n  \n  processedProducts.push(produto);\n}\n\nreturn { produtos: processedProducts };"
      },
      "name": "Process Images",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        670,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        },
        "batches": {
          "batch": "={{$json.produtos}}"
        }
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "resource": "product",
        "operation": "upsert",
        "lookupField": "sku",
        "lookupValue": "={{$json.sku}}",
        "options": {}
      },
      "name": "WooCommerce",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1090,
        300
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "WooCommerce Achadinho",
          "name": "WooCommerce Achadinho"
        }
      }
    },
    {
      "parameters": {
        "url": "https://achadinhoshopp.com.br/loja/wp-json/wp/v2/pdv-vendas-css",
        "authentication": "predefinedCredentialType",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "css",
              "value": "/* Custom CSS for PDV Vendas products */\n.woocommerce ul.products li.product {\n  text-align: center;\n  padding: 15px;\n  border-radius: 8px;\n  transition: all 0.3s ease;\n  box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n}\n\n.woocommerce ul.products li.product:hover {\n  transform: translateY(-5px);\n  box-shadow: 0 5px 15px rgba(0,0,0,0.1);\n}\n\n.woocommerce ul.products li.product img {\n  border-radius: 5px;\n  margin-bottom: 10px;\n  width: 100%;\n  height: auto;\n  object-fit: contain;\n}\n\n.woocommerce ul.products li.product .price {\n  color: #4CAF50;\n  font-weight: bold;\n  font-size: 1.2em;\n}\n\n.woocommerce ul.products li.product .button {\n  background-color: #4CAF50;\n  color: white;\n  border-radius: 4px;\n  margin-top: 10px;\n}\n\n.woocommerce ul.products li.product .button:hover {\n  background-color: #45a049;\n}"
            }
          ]
        },
        "options": {}
      },
      "name": "Inject Custom CSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "WordPress Achadinho",
          "name": "WordPress Achadinho"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Product Data": {
      "main": [
        [
          {
            "node": "Process Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Images": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce": {
      "main": [
        [
          {
            "node": "Inject Custom CSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
