n8n-workflows/product-sync-workflow.json
{
  "name": "PDV Vendas - Sincronização de Produtos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdv-vendas/produtos",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Processar dados do produto\nconst data = $input.json;\n\n// Verificar se é um único produto ou uma lista\nconst produtos = Array.isArray(data) ? data : [data];\nconst processedProducts = [];\n\nfor (const produto of produtos) {\n  const processedProduct = {\n    name: produto.nome,\n    type: \"simple\",\n    regular_price: produto.preco.toString(),\n    description: produto.descricao || \"\",\n    short_description: produto.descricao_curta || \"\",\n    categories: produto.categorias ? produto.categorias.map(cat => ({id: cat.id})) : [],\n    images: [],\n    sku: produto.codigo || \"\",\n    stock_quantity: produto.estoque || 0,\n    manage_stock: true,\n    status: \"publish\",\n    meta_data: [\n      {\n        key: \"_pdv_vendas_product\",\n        value: \"true\"\n      },\n      {\n        key: \"_pdv_vendas_id\",\n        value: produto.id.toString()\n      }\n    ]\n  };\n  \n  // Processar imagens\n  if (produto.imagens && Array.isArray(produto.imagens)) {\n    for (const imagem of produto.imagens) {\n      processedProduct.images.push({\n        src: imagem.url,\n        name: imagem.nome || `Produto ${produto.nome}`,\n        alt: imagem.alt || `Produto ${produto.nome}`\n      });\n    }\n  }\n  \n  processedProducts.push(processedProduct);\n}\n\nreturn { produtos: processedProducts };"
      },
      "name": "Process Product Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Processar imagens\nconst produtos = $input.json.produtos;\nconst processedProducts = [];\n\nfor (const produto of produtos) {\n  // Verificar se as imagens são URLs válidas\n  if (produto.images && produto.images.length > 0) {\n    const validImages = [];\n    \n    for (const image of produto.images) {\n      // Verificar se a URL da imagem é válida\n      if (image.src && image.src.startsWith('http')) {\n        validImages.push(image);\n      } else {\n        // Adicionar uma imagem padrão se a URL não for válida\n        validImages.push({\n          src: \"https://achadinhoshopp.com.br/loja/wp-content/uploads/woocommerce-placeholder.png\",\n          name: image.name,\n          alt: image.alt\n        });\n      }\n    }\n    \n    produto.images = validImages;\n  }\n  \n  processedProducts.push(produto);\n}\n\nreturn { produtos: processedProducts };"
      },
      "name": "Process Images",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        },
        "batches": {
          "batch": "={{ $json.produtos }}"
        }
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "credentials",
        "operation": "upsert",
        "resource": "product",
        "lookupField": "sku",
        "lookupValue": "={{ $json.sku }}",
        "options": {},
        "updateFields": {
          "name": "={{ $json.name }}",
          "type": "={{ $json.type }}",
          "regular_price": "={{ $json.regular_price }}",
          "description": "={{ $json.description }}",
          "short_description": "={{ $json.short_description }}",
          "categories": "={{ $json.categories }}",
          "images": "={{ $json.images }}",
          "stock_quantity": "={{ $json.stock_quantity }}",
          "manage_stock": "={{ $json.manage_stock }}",
          "status": "={{ $json.status }}",
          "meta_data": "={{ $json.meta_data }}"
        }
      },
      "name": "WooCommerce",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "wooCommerceApi": {
          "id": "GkrrrvYLWEXDyECP",
          "name": "WooCommerce Achadinho"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Product Data": {
      "main": [
        [
          {
            "node": "Process Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Images": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [
    {
      "id": "gdQamNvfQMvNgx4s",
      "name": "PDV Vendas"
    },
    {
      "id": "FLcLRrkmKgt6WMMa",
      "name": "WooCommerce"
    },
    {
      "id": "kZDdlmzUnGSD8nYC",
      "name": "Integration"
    }
  ]
}
